<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{# 网页标题块 #}
	<title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<script src="{% static 'js/jquery-1.12.4.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	{# 网页顶部引入文件块#}
	{% block topfiles %}{% endblock topfiles %}
</head>
<body>
	{# 顶部栏 #}
	{% block top %}
		<div class="top_con">
			<div class="top">
				
				
				{% if user.is_authenticated %}
					<!-- 登录后 -->
					<ul class="login fl" style="display:block">
						{% block is_index_two %}
							<li><a href="{% url 'goods:index' %}">火吻首页</a><i class="icon_home"></i></li>
						{% endblock is_index_two%}
						<li><span>Hi,</span></li>
						<li><a href="{% url 'user:user' %}">{{user.username}}</a></li>
						<li><a href="#"><i></i></a></li>
						<li><a href="#">积分<em>100000</em></a></li>
						<li><a href="#">消息<em>15</em></a></li>
						<li><a href="{% url 'user:logout'%}">退出</a></li>
					</ul>
				{% else %}
					<!-- 未登录 -->
					<ul class="no_login fl">
						{% block is_index %}
							<li><a href="index.html">火吻首页</a><i class="icon_home"></i></li>
						{% endblock is_index %}
						<li><span>哞，欢迎来火吻</span></li>
						<li><a href="{% url 'user:login' %}">请登录{{user.username}}</a></li>
						<li><a href="{% url 'user:register' %}">免费注册</a></li>
					</ul>
				{% endif %}
				<!-- 未开发功能 -->
				<ul class="other_fk fr">
					<li><span>|</span></li>
					<li><a href="#">手机版</a><i class="icon_mobile"></i></li>
					<li><a href="#">冰吻鲜生</a></li>
					<li><a href="#">商家支持</a></li>
					<li><a href="#">网站导航</a><i class="icon_nav"></i></li>
				</ul>
				<!-- 用户相关 -->
				<ul class="user_set fr">
					<li><a href="{% url 'user:order' %}">我的宝贝</a></li>
					<li><a href="#">购物车<em>0</em>件</a><i class="icon_cart"></i></li>
					<li><a href="#">收藏夹</a></li>
				</ul>
			</div>
		</div>
	{% endblock top %}
	
	{# 头部栏包括logo、搜索框 #}
	{% block header %}
	{% endblock header %}
	
	{# 导航栏 #}
	{% block nav %}
	{% endblock nav %}

	{# 网页body块 #}
	{% block body %}
		<!-- 轮播图 -->
		<div class="slide_con">
			<div class="slide">
				<ul class="list">
					<li><a href="#"><img src="{% static 'images/bn_1.webp' %}" alt=""></a></li>
					<li><a href="#"><img src="{% static 'images/bn_2.webp' %}" alt=""></a></li>
					<li><a href="#"><img src="{% static 'images/bn_3.webp' %}" alt=""></a></li>
					<li><a href="#"><img src="{% static 'images/bn_4.jpg' %}" alt=""></a></li>
					<li><a href="#"><img src="{% static 'images/bn_5.jpg' %}" alt=""></a></li>
					<li><a href="#"><img src="{% static 'images/bn_6.webp' %}" alt=""></a></li>
				</ul>
				<div class="point_con">
					<ul class="point">
						<li class="active"></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<!-- <div class="prev">P</div>
				<div class="next">N</div> -->
			</div>
		</div>

		<!-- 品牌区域 -->
		<!-- 品牌相关 -->
		<div class="b_wall_con clearfix">	
			<div class="brand_wall">
				<div class="b_sale">
					<span><h1>品牌闪购</h1></span>
					<span>BRAND SALE</span>
					<i></i>
					<a href="#" class="b_more"></a>
					<a href="#" class="img_block"><img src="{% static 'images/brand_w1.webp' %}" alt="品牌闪购"></a>
				</div>
				<div class="b_channel">
					<span><h1>聚名品</h1></span>
					<span>LUXURY CHANNEL</span>
					<i></i>
					<a href="#" class="b_more">更多</a>
					<a href="#"><img src="{% static 'images/brand_w2.webp' %}" alt="聚名品"></a>
				</div>
				<div class="b_activity">
					<span><h1>品牌活动</h1></span>
					<span>BRAND ACTIVITY</span>
					<i></i>
					<a href="#" class="b_more">更多</a>
					<a href="#"><img src="{% static 'images/brand_w3.webp' %}" alt="品牌闪购"></a>
				</div>

				<!-- 左侧定位导航条 -->
				<div class="left_nav">
					<span>导航</span>
					<div class="jump_nav">
						<a href="#" class="l_mart">火吻超市</a>
						<a href="#" class="l_star">火吻星际</a>
						<a href="#" class="l_outdoor">户外出行</a>
						<a href="#" class="l_cool">潮酷电玩</a>
						<a href="#" class="l_beauty">美丽人生</a>
						<a href="#" class="l_life">居家生活</a>
						<a href="#" class="l_home">打造爱巢</a>
						<a href="#" class="l_ulike">猜你喜欢</a>
					</div>	
					<a href="javascript:;" class="top">top</a>
				</div>
				<!-- 导航条end -->

			</div>
		</div>
		<!-- 品牌展示区 -->
		<div class="b_bann_con clearfix">
			<div class="brand_bann">
				<ul>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li><img src="{% static 'images/brand_01.webp' %}" alt=""><a href="#"><span class="name">罗伯茨工业RBI</span><span class="btn">点击进入</span></a></li>
					<li class="change"><a href="#"><span class="b_refresh"></span><span class="name">换一批</span></a></li>
				</ul>
			</div>
		</div>
		<!-- 商品区域 -->
		<!-- 火吻超市 -->
		<div class="g_con clearfix">
			<div class="g_mart clearfix">
				<div class="mart_link">
					<h1 class=" fk_market">火吻超市</h1>
					<span>FIRE KISS & SUPERMARKET</span>
					<a href="#">进口食品</a>
					<a href="#">食品饮料</a>
					<a href="#">粮油副食</a>
					<a href="#">美容洗护</a>
					<a href="#">家居家电</a>
					<a href="#">家庭清洁</a>
					<a href="#">母婴用品</a>
					<a href="#">生鲜水果</a>       
				</div>
				<div class="mart_bann">
					<a href=""><img src="{% static 'images/g_banne_01.png' %}" alt="火吻超市冬季促销"></a>
				</div>
				<div class="goods_list"> 
					<ul class="mart_goods">
						<!-- 商品活动，暂时未开发
						<li class="g_activity">
							<span class="active">今日疯抢</span>
							<a href="#" class="active_goods">
								<img src="{% static 'images/goods_02.jpg' %}" alt="">
							</a>
						</li>
						<li class="g_activity">
							<span>量贩装</span>
							<a href="#">
								<img src="{% static 'images/goods_03.jpg' %}" alt="">
							</a>
						</li>
						-->
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 火吻星际 -->
		<div class="g_con clearfix">
			<div class="g_mart clearfix">
				<div class="mart_link">
					<h1 class=" fk_star">火吻星际</h1>
					<span>FIRE KISS & STAR</span>
					<a href="#">口红</a>
					<a href="#">YSL</a>
					<a href="#">面膜</a>
					<a href="#">防晒</a>
					<a href="#">迪奥</a>
				</div>
				<div class="mart_bann">
					<a href=""><img src="{% static 'images/g_banne_01.png' %}" alt="火吻超市冬季促销"></a>
				</div>
				<div class="goods_list"> 
					<ul class="mart_goods">
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 户外出行 -->
		<div class="g_con clearfix">
			<div class="g_mart clearfix">
				<div class="mart_link">
					<h1>户外出行</h1>
					<span>OUTDOORS & AUTOMOTIVE</span>
					<a href="#">车秒贷</a>
					<a href="#">皮肤衣</a>
					<a href="#">运动鞋</a>
					<a href="#">4s保养</a>
					<a href="#">行车记录仪</a>
					<a href="#">轮胎</a>      
				</div>
				<div class="mart_bann">
					<a href=""><img src="{% static 'images/g_banne_01.png' %}" alt="火吻超市冬季促销"></a>
				</div>
				<div class="goods_list"> 
					<ul class="mart_goods">
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 潮店酷玩 -->
		<div class="g_con clearfix">
			<div class="g_mart clearfix">
				<div class="mart_link">
					<h1>潮电酷玩</h1>
					<span>ELECTRONICS</span>
					<a href="#">手机</a>
					<a href="#">iPhone</a>
					<a href="#">相机</a>
					<a href="#">数码配件</a>
					<a href="#">影音电玩</a>
					<a href="#">生活电器</a>
					<a href="#">个人护理</a>
					<a href="#">电脑硬件</a>       
					<a href="#">笔记本</a>       
				</div>
				<div class="mart_bann">
					<a href=""><img src="{% static 'images/g_banne_01.png' %}" alt="火吻超市冬季促销"></a>
				</div>
				<div class="goods_list"> 
					<ul class="mart_goods">
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- 广告1 -->
		<div class="ad_con">
			<a href="#" class="ads">
				<img src="{% static 'images/ad_02.jpg' %}" alt="广告">
			</a>
		</div>

		<!-- 美丽人生 -->
		<div class="g_con clearfix">
			<div class="g_mart clearfix">
				<div class="mart_link">

			
					<h1>美丽人生</h1>
					<span>FASHION & BEAUTY</span>
					<a href="#">连衣裙</a>
					<a href="#">T恤男</a>
					<a href="#">美容护肤</a>
					<a href="#">休闲男鞋</a>
					<a href="#">黄金项链</a>
					<a href="#">单鞋</a>
					<a href="#">女包</a>
					<a href="#">文胸</a>      
					<a href="#">大牌腕表</a>      
				</div>
				<div class="mart_bann">
					<a href=""><img src="{% static 'images/g_banne_01.png' %}" alt="火吻超市冬季促销"></a>
				</div>
				<div class="goods_list"> 
					<ul class="mart_goods">
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- 广告2 -->
		<div class="ad_con">
			<a href="#" class="ads">
				<img src="{% static 'images/ad_01.jpg' %}" alt="广告">
			</a>
		</div>

		<!-- 家居生活 -->
		<div class="g_con clearfix">
			<div class="g_mart clearfix">
				<div class="mart_link">
					<h1>居家生活</h1>
					<span>GROCERY & HEALTH</span>
					<a href="#">零食</a>
					<a href="#">牛奶</a>
					<a href="#">居家饰品</a>
					<a href="#">保温杯</a>
					<a href="#">保健品</a>
					<a href="#">常用药</a>
					<a href="#">热门图书</a>
					<a href="#">洗发水</a>     
					<a href="#">卫生巾</a>     
					<a href="#">家庭清洁</a>     
					<a href="#">狗粮</a>     
				</div>
				<div class="mart_bann">
					<a href=""><img src="{% static 'images/g_banne_01.png' %}" alt="火吻超市冬季促销"></a>
				</div>
				<div class="goods_list"> 
					<ul class="mart_goods">
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- 广告3 -->
		<div class="ad_con">
			<a href="#" class="ads">
				<img src="{% static 'images/ad_03.jpg' %}" alt="广告">
			</a>
		</div>

		<!-- 打造爱巢 -->
		<div class="g_con clearfix">
			<div class="g_mart clearfix">
				<div class="mart_link">
					<h1>打造爱巢</h1>
					<span>HOME</span>
					<a href="#">家具</a>
					<a href="#">大家电</a>
					<a href="#">四件套</a>
					<a href="#">健康电器</a>
					<a href="#">厨房电器</a>
					<a href="#">吸顶灯</a>
					<a href="#">平板电视</a>
					<a href="#">装修设计</a>       
					<a href="#">跑步机</a> 
				</div>
				<div class="mart_bann">
					<a href=""><img src="{% static 'images/g_banne_01.png' %}" alt="火吻超市冬季促销"></a>
				</div>
				<div class="goods_list"> 
					<ul class="mart_goods">
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 猜你喜欢 -->
		<div class="g_ulike_con">
			<div class="g_ulike clearfix">
				<h1>猜你喜欢</h1>
				<i class="center_end"></i>
				<div class="ulike_list"> 
					<ul class="ulike_goods">
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>

						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
						<li><a href="#"><img src="{% static 'images/goods_01.jpg' %}" alt=""><span>德国进口樱桃3斤(顺丰包邮)个大味甜新鲜</span><em>￥69.8</em></a></li>
					</ul>
				</div>
			</div>
		</div>
	{% endblock body %}

	<!-- footer -->
	<div class="foot_con">
		<div class="foot clearfix">
			<a href="#" class="fk_ensure">
				<img src="{% static 'images/ensure.jpg' %}" alt="火吻品控">
			</a>
			<div class="desc clearfix">
				<dl>
					<dt>购物指南</dt>
					<dd><a href="#">免费注册</a></dd>
					<dd><a href="#">开通kisspay</a></dd>
					<dd><a href="#">kisspay充值</a></dd>
				</dl>
				<dl>
					<dt>火吻保障</dt>
					<dd><a href="#">发票保障</a></dd>
					<dd><a href="#">售后规则</a></dd>
					<dd><a href="#">缺货赔付</a></dd>
				</dl>
				<dl>
					<dt>支付方式</dt>
					<dd><a href="#">快捷支付</a></dd>
					<dd><a href="#">信用卡</a></dd>
					<dd><a href="#">kisspay</a></dd>
					<dd><a href="#">蚂蚁花呗</a></dd>
					<dd><a href="#">货到付款</a></dd>
					<dd><a href="#">支付宝</a></dd>
					<dd><a href="#">paypal</a></dd>
				</dl>
				<dl>
					<dt>商家服务</dt>
					<dd><a href="#">火吻规则</a></dd>
					<dd><a href="#">商家入驻</a></dd>
					<dd><a href="#">商家中心</a></dd>
					<dd><a href="#">物流服务</a></dd>
					<dd><a href="#">运营服务</a></dd>
				</dl>
				<dl>
					<dt>手机火吻</dt>
					<dd>
						<a href="#"><img src="{% static 'images/qr_code.png' %}" alt=""></a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	
	<!-- bottom -->
	<div class="bottom_con">
		<div class="bottom clearfix">
			<div class="bot_link">
				<a href="#">关于火吻</a>
				<a href="#">帮助中心</a>
				<a href="#">开放平台</a>
				<a href="#">诚聘英才</a>
				<a href="#">联系我们</a>
				<a href="#">网站合作</a>
				<a href="#">法律声明</a>
				<a href="#">隐私权政策</a>
				<a href="#">知识产权</a>
				<a href="#">廉正举报</a>
				<a href="#">规则意见征集</a>
			</div>
			<div class="fk_other_link">
				<a href="#">观天集团</a> |
				<a href="#">火吻</a> |
				<a href="#">全星系速卖通</a> |
				<a href="#">观天星际交易市场</a> |
				<a href="#">2084</a> |
				<a href="#">火矢星旅</a> |
				<a href="#">观天数据</a> |
				<a href="#">Aodoco</a> |
				<a href="#">KissPay</a> |
				<a href="#">赫斯顿商业协会</a> |
			</div>
			<div class="fk_info">
				<p>
					<span>增值电信业务经营许可证：<a href="#">赫斯顿A-J637098</a></span>
					<span>市场名称登记证：工商网市字33010041049号</span>
					<span>出版物网络交易平台服务经营备案证：新出发威备字第001号</span>
				</p>
				<p>
					<span>互联网违法和不良信息举报电话：00001-00000001 blxxjb@firekiss-inc.com</span>
					<span>互联网药品信息服务资质证书编号：<a href="#">银-（经营性）-2049-0002</a></span>
					<span><a href="#" class="police_icon"><i></i>银河警备 33010002000120号</a></span>
				</p>
				<p>
					<span>医疗器械网络交易服务第三方平台备案：（银）网械平台备字[2049]第00001号</span>
					<span>互联网药品交易服务资格证书：赫斯顿A20150001</span>
				</p>
				<p>
					<span>威尔市网络食品销售第三方平台提供者备案：威网食A33010001</span>
					<span><a href="#">0000001举报</a></span>
				</p>
				<p><span class="allright">© 20028-2049 FIREKISS.COM 版权所有</span></p>
				<p>
					<a href="#"><img src="" alt=""></a>
					<a href="#"><img src="" alt=""></a>
				</p>
			</div>
		</div>
	</div>
	
	<!-- 固定定位元素 -->
	{# 顶部悬浮搜索框块 #}
	{% block top_fixed_search %}
	{% endblock top_fixed_search %}

	{# 右侧导航条块 #}
	{% block right_nav %}
		<div class="logined right_nav_con">
			<div class="right_nav clearfix">
				{# 右侧选项 #}
				{% block right_op %}
					{% if user.is_authenticated %}
						<a href="#" class="vip clearfix" title="会员中心"><i></i><div><img src="{% if user.avatar %}{{user.avatar.url}}{% else %} {% endif %}" alt=""></div></a>
						<a href="#" class="shop_cart clearfix"><i></i><span>购物车</span><em>50</em></a>
					{% else %}
						<a href="#" class="vip" title="会员中心"><i></i></a>
						<a href="#" class="shop_cart clearfix"><i></i><span>购物车</span></a>
					{% endif %}
				{% endblock right_op %}
				<a href="#" class="money" title="支付方式"><i></i></a>
				<a href="#" class="colle" title="我的收藏"><i></i></a>
				<a href="#" class="seen" title="我看过的"><i></i></a>
				<a href="#" class="pay" title="我要充值"><i></i></a>
				<a href="#" class="feed" title="用户反馈"><i></i></a>
				<a href="#" class="qr" title="手机火吻"><i></i></a>
				<a href="javascript:;" class="r_top"><i></i></a>
			</div>
		</div>
	{% endblock right_nav %}
</body>
</html>