{% extends "base_siginup.html" %}
{% block title %}火吻登录{% endblock title %}

{# 页面主体部分 #}
{% block body %}
    <div class="">
        <div class="top cont">
            <h1><a href="index.html">FIREKISS 火吻</a></h1>
        </div>
    </div>
    <div class="con">
        <div class="center cont">
            <div class="banner">
                <a href="#"></a>
            </div>
            <div class="login">
                <form method="post">
                    <h1>登录</h1>
                    {% csrf_token %}
                    <label for="user">用户名</label>
                    <input type="text" class="input" id="user" name="username" value="{{username}}">
                    <label for="pwd">密码</label>
                    <input type="password" class="input" id="pwd" name="password">
                    <input type="checkbox" name="remember" {{remember}}><span class="checkbox">记住用户名</span>
                    <input type="submit" class="input btn" value="登 录">
                    <div class="login_other">
                        <a href="#">忘记密码</a>
                        <a href="#">忘记用户名</a>
                        <a href="/user/register" class="register_link">免费注册</a>
                    </div>
                    <div class="msg">{{msg}}</div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom cont">
        <div class="b_link">
            <a href="#">使用条件</a>
            <a href="#">隐私政策</a>
            <a href="#">帮助</a>
        </div>
        <p>©2019-2049 FIREKISS及其关联公司 版权所有</p>
    </div>
{% endblock body %}