amqp==2.4.0
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
Django==1.8.2
django-haystack==2.8.1
django-redis==3.8.4
django-tinymce==2.6.0
fdfs-client-py==1.2.6
get==2018.11.19
idna==2.8
itsdangerous==1.1.0
jieba==0.39
kombu==4.2.2.post1
mutagen==1.42.0
Pillow==7.1.0
post==2018.11.20
public==2018.11.20
pycryptodomex==3.7.2
PyMySQL==0.9.3
python-alipay-sdk==1.9.1
pytz==2018.9
query-string==2018.11.20
redis==2.10.5
request==2018.11.20
requests==2.21.0
sentry-sdk==0.6.9
urllib3==1.24.1
uWSGI==2.0.18
vine==1.2.0
Whoosh==2.7.4
